* {
    font-family:  'Inria Serif', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*
* Header
*/
header {
    display: flex;
    align-items: center;
    background-color: #111827;
    /* justify-content: center; */
    position: relative;
    height: 3.8rem;
}

header > h1.logo {
    color: #FFFFFF;
    font-size: clamp(1rem, 4vw, 1.5rem);
    /* height: 1.9rem; */
    padding: 0px;
    margin-left: 1rem;
}

.navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0.7rem;
    margin: 0px;
    gap: 1rem;
    height: 2.5rem;
    width: 100%;
    
    background-color: #FFFFFF;
    list-style: none;
    border-radius: 50px;
}


.navbarToggle {
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.navItem {
    font-size: 1rem;
    cursor: pointer;
}

.selectedNav {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbarToggle {
        display: block;
        color: #fff;
        margin-left: auto;
        margin-right: 1rem;
    }

    .navbar {
        display: none;
    }

}

/*
* Footer
*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    color: #FFFFFF;
    height: 4rem;
}