section > h2 {
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.educationBackdrop {
    background-color: #BDBDBD;
    height: fit-content;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50px;
}

.educationEntry {
    display: flex;
    /* background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid black; */
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 15px;
}

.educationEntry a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instituteLogo {
    width: auto;
    height: 60px;
    object-fit: contain;
}

.eduDetails {
    flex: 1;
}

.eduDetails > h3 {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

p.gradeText {
    margin-top: 0.5rem;
}

.eduDetails > b {
    font-size: 0.9rem;
}

@media (max-width: 887px) {
    .educationBackdrop {
        background-color: #BDBDBD;
        height: fit-content;
        width: 90vw;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 50px;
    }
}

@media (min-width: 1440px) {
    .educationBackdrop {
        background-color: #BDBDBD;
        height: fit-content;
        width: 50vw;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 50px;
    }
}